name: Build
on:
  workflow_dispatch:
  
  push:
    paths:
      - "test_app/buildozer.spec"

env:
  GitHubMail: "ashwinstr@gmail.com"
  GitHubName: "ashwinstr"

jobs:
  # Build job. Builds app for Android with Buildozer
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest

    steps:
      - name: Clone private repo
        run: |
          git config --global user.email ${GitHubMail}
          git config --global user.name ${GitHubName}
          git config --global credential.helper store
          echo "https://${GitHubName}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials
          git clone https://ashwinstr@github.com/ashwinstr/my-kivy-apps temp_repo
          cd temp_repo || exit 1
           
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: master
          
      - name: Cache Buildozer global directory
        uses: actions/cache@v2
        with:
          path: .buildozer_global
          key: buildozer-global-${{ hashFiles('buildozer.spec') }}

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          repository_root: master
          workdir: my-kivy-apps
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: https://ashwinstr@github.com/ashwinstr/my-kivy-apps
          ref: main # Branch name

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: x64

      - name: Push binary to data branch
        if: github.event_name == 'push'
        run: git add --all
            git commit -m "Version increment..."
            git push -q https://${{ secrets.GH_TOKEN }}@github.com/my-kivy-apps
